@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #140f16;
  font-family: "Roboto Mono", monospace, sans-serif;
}

/* header */
.header {
  padding: 5rem;
}

/*Calculator Body*/
.wrapper {
  width: 372px;
  margin: auto;
  min-height: 424px;
  background: #251e20;
  border-radius: 12px;
}

/*Calculator Display Screen*/
.calc-screen {
  position: relative;
  height: 120px;
}

.previousvalue {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 60px;
  margin-right: 20px;
  font-size: 1.4rem;
  color: #9f9c9d;
  padding-bottom: 0.5rem;
}

.currentvalue {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 15px;
  margin-bottom: 15px;
  font-size: 2.4rem;
  font-weight: bold;
  text-align: right;
  color: #fff;
}

/*Calculator Buttons*/
.calc-button-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2px 0;
}

/* footer */
footer {
  color: #fff;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  padding: 40px;
}

/* Buttons */
button {
  width: 84px;
  height: 57.9px;
  border-radius: 8px;
  font-size: 1.3rem;
  border: 1px solid #202020;
  color: #eae8e9;
  font-weight: 400;
}

.num {
  background-color: #383034;
}

.point {
  background-color: #383034;
}

.opt {
  background-color: #41393d;
  font-size: 1.6rem;
}

.equal {
  background-color: #de765d;
  color: #202020;
  opacity: 1;
}

.clear,
.remove {
  background-color: #41393d;
  font-size: 0.9rem;
  width: 178px;
}

/* hover effects */

.num:hover {
  background-color: #41393d;
}

.point:hover {
  background-color: #41393d;
}

.opt:hover {
  background-color: #383034;
}

.equal:hover {
  background-color: #dd775ddf;
}

.remove:hover {
  background-color: #383034;
}

.clear:hover {
  background-color: #383034;
}
